@using dsh = CarProject.Areas.Admin.Models.Dashboard
@using CarProject.App_Code
@{
    ViewBag.Title = "درباره ما";

    var sri = new dsh.MySerializer();
    var ab = new dsh.AboutMe();

    ab = (dsh.AboutMe)sri.LoadXml(Server.MapPath(ab.FileLocation), ab.GetType());
}


<div>
    <div id="AboutMePageShower">
        @Html.Raw(ab.Html)
    </div>
</div>