@{
    ViewBag.Title = "خانه";
}



<div id="SlideShowerBack">
    <div id="SlideShower">
    	<div class="slides">
        	<img  class="image" src="../Cars/Images/img (1).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <div class="slides">
        	<img  src="../Cars/Images/img (2).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <div class="slides ">
        	<img  src="../Cars/Images/img (3).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <div class="slides show">
        	<img  src="../Cars/Images/img (4).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <section id="forwardButton" onClick="changeSlideForward()" class="slideMover gia-right" ></section>
        <section id="backwardButton" onClick="changeSlideBackWard()" class="slideMover gia-left" ></section>
        
    </div>
    <div id="slidesPreview">
    </div>
    <div id="slideShowController">
    	<section class="gia-play" ></section>
        <section class="gia-stop"></section>
    </div>
</div>
    
    <div id="contentContainer">
    محتوا
    </div>
    