@{
    Layout = null;
}


<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="خدمات آنلاین خودرو فروش قطعات و لوازم یدکی" />

<title>خودرو کلینیک</title>
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Files/Resources/HomePage/HomePage.css" rel="stylesheet" />

    <script src="~/Publics/Scripts/jquery-3.0.0.js"></script>

</head>

<body>
	<h1 id="webheader">خودرو کلینیک</h1>
    <header id="header">
    
    	<img id="webicon" src="~/Publics/Files/Resources/HomePage/logo.png" alt="خودرو کلینیک" />

        <nav id="header_navigation">
        	<a href="#">لینک 1</a>
            <a href="#">لینک 2</a>
            
            <section >لینک 3 <section class="gia-down"></section>
                <nav>
                    <a href="#">ساب لینک 1</a>
                    <a href="#">ساب لینک 2</a>
                    <a href="#">ساب لینک 3 asdfasfas fasdf</a>
                    <a href="#">ساب لینک 4 asdfasdfasd</a>
                </nav>
            </section>
            
            <section >لینک a sdas fasfasfaqer we <section class="gia-down"></section>
                <nav>
                    <a href="#">ساب لینک 1</a>
                    <a href="#">ساب لینک 2</a>
                    <a href="#">ساب لینک 3 asdfasfas fasdf</a>
                    <a href="#">ساب لینک 4 asdfasdfasd</a>
                </nav>
            </section>
            
            <a href="#">لینک 4</a>
        </nav>
        
        <nav id="header_ShortNavs">
        	<a href="#" class="gia-login" ></a>
        	<div>
            	<a href="javascript:void()" class="gia-search" onClick="$('#searchSection').toggleClass('show')" ></a>
                <div id="searchSection">
                	<form id="searchForm" method="get">
                    	<input type="text" name="searchText" />
                        <button type="submit"><section class="gia-search"></section></button>
                    </form>
                </div>
            </div>
            <a href="#" class="gia-cart" ></a>
        	<a href="javascript:void()" onClick="$('#header_navigation').toggleClass('show')" id="HeaderNavigationMenuIcon" class="gia-menuIcon"></a>
        </nav>
    </header>
    
<div id="SlideShowerBack">
    <div id="SlideShower">
    	<div class="slides">
        	<img  class="image" src="../Cars/Images/img (1).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <div class="slides">
        	<img  src="../Cars/Images/img (2).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <div class="slides ">
        	<img  src="../Cars/Images/img (3).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <div class="slides show">
        	<img  src="../Cars/Images/img (4).jpg" alt="describe" />
            <h3 class="title">توضیحات تصویر</h3>
            <p class="describe">توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | توضیحات بیشتر درمورد تصویر | </p>
        </div>
        
        <section id="forwardButton" onClick="changeSlideForward()" class="slideMover gia-right" ></section>
        <section id="backwardButton" onClick="changeSlideBackWard()" class="slideMover gia-left" ></section>
        
    </div>
    <div id="slidesPreview">
    </div>
    <div id="slideShowController">
    	<section class="gia-play" ></section>
        <section class="gia-stop"></section>
    </div>
</div>
    
    <div id="contentContainer">
    محتوا
    </div>
    
    
    <footer id="footer">
    
    	<div class="items">
        	<h3 class="title">تماس با ما</h3>
            <p>
            	تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما تماس باما 
            </p>
        </div>
        
        
        
        <div class="items">
        	<h3 class="title">درباره ما</h3>
            <p>
            	درباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره ما
            </p>
        </div>
        
        
        
        <div class="items">
        	<h3 class="title">درباره ما</h3>
            <p>
            	درباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره مادرباره ما
            </p>
        </div>
        
    </footer>
    
    <footer id="footer2">
    	<section>گروه نرم افزاری ارغنون</section>
    	<section dir="ltr">Arghanoon Programming Team &copy; 2016-2018</section>
    </footer>
</body>

<script>

</script>
<script src="HomePage.js"></script>

</html>
