
.input
{
	display:flex;
    flex-wrap:wrap;
	justify-content:space-between;
}
	.input input:not([type=submit]):not([type=button]):not([type=reset]),
		.input textarea
	{
        width:75%;

		color:#373749;
		border:thin solid #b6b6c8;
		border-radius:3px;
		padding:3px;
		margin:3px 0 5px 0;
		background:#FEFEFE;
		
		resize:vertical;
		font-family:f3;
	}
	.input input:not([type=submit]):not([type=button]):not([type=reset]):focus,
		.input textarea:focus
	{
		border: thin solid;
		box-shadow:0 0 3px 0 #b6b6c8;
		background:#FFFFFF;
	}