#header {
    border-bottom: none;
}
#header2 {
    background:#000062;
    color:#ebebff;
    border-bottom:thin solid #ebebff;
    box-shadow: 0 1px 2px 0 #9f9fff;
    font-family:f3;

    display:flex;
}
    #header2 nav {
        position:relative;
        display:flex;
    }
    #header2 a {
        display:block;
        text-decoration:none;
        color:inherit;
        padding:0 5px;
        /*background:#ebebff;*/
    }
        #header2 section:hover {
            background:#ebebff;
            color:#000062;
        }
        #header2 a.root:after {
            font-family:giadmin;
	        display:inline-block;
	        margin:0 3px;
	        direction:ltr;

            content:'\0048';
            font-size:70%;
        }
        #header2 a + nav {
            position:absolute;
            background:#000062;
            color:#ebebff;

            white-space:nowrap;

            border:thin solid #ebebff;
            box-shadow: 0 1px 2px 0 #9f9fff;

            top:0; right:100%;
            display: none;

            z-index:999;
        }
        #header2 > nav > section > nav {
            top:100%; right:0;
        }
        #header2 a:hover + nav, #header2 a + nav:hover {
            display:block;
        }
