#searchsection {
    display:flex;
    background:none;
    border:none;
}
#searchInput {
    flex:1;
    margin-left:5px;
}

.pagination {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row-reverse;
}
    .pagination > * {        
        margin: 2px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: yekan;
        font-size: 100%;
        border-radius:3px;
    }

    .pagination > span {
        border: thin solid #888;
        background: #d4d4d4;
    }
    .pagination > input {
        border: thin solid #888;
        background: #fff;
        cursor:pointer;
    }