@{
    ViewBag.Title = "اخبار";
}

@section style
{
    
}

<div class="page" id="newsHomePage">
    <div id="newsSlideShow">

    </div>

    <div id="LastNews" class="newsContainer">
        <div class="news">
            <h3 class="newsTitle"></h3>
            <div class="newsDetailsContainer">
                <img src="" alt="" class="newsImage" />
                <section class="NewsDescribe"></section>
            </div>
        </div>
    </div>

    <div id="popularNews" class="newsContainer">

    </div>

</div>
