@{
    ViewBag.Title = "اخبار";
}

@section style
{
    <style>
        #newsContainer {
            margin:0;
            display:flex; justify-content:space-between;
            position:relative;
        }
        .newsContainer {
            margin:2.5px;
            border:thin solid transparent;
            box-sizing:border-box;

            min-height:100vh;
        }

        #news_right {
            width:25%;
        }

        #news_center {
            flex: 1;
        }

        #news_left {
            width:25%;
        }


        #slideShowContainer {
            width:100%;
            height:50vh;
            background:#A9A9A9;
        }

        #underSlideShowNewsContainer {
            display:flex;
        }

        .news {
            display:block;
        }
            .news .title {
            }

            .news .details {
                display:flex; align-items:stretch;
            }

            .news .details .img {
                width:100px; height:70px;
            }
            .news .details .describe {
                flex:1;
            }
    </style>
}

<div class="" id="newsHomePage">

    <div id="newsContainer">

        <div id="news_right" class="newsContainer">
            
            @for (int i = 0; i < 100; i++)
            {
                <div class="news">
                    <a href="#" class="title">تیرخبر  مثال سمپل نمایش پیش نمایش الکی شماره </a>
                    <div class="details">
                        <img class="img" src="~/Publics/NewsImages/nophoto.png" />
                        <p class="discribe">توضیحات درباره خبر مختصر مفید خلاصه توضیحات خبر مختصر و مفید خلاصه الکی کشکشی مثال سمپل اکسمپل مثل توضیحات تشریحات مشروح شرح جفنگ تفنگ و.... </p>
                    </div>
                </div>
            }

        </div>

        <div id="news_center" class="newsContainer">
            <div id="slideShowContainer"></div>
           
            <div id="underSlideShowNewsContainer">

                <div class="newsContainer">
                     @for (int i = 0; i < 100; i++)
                        {
                            <div class="news">
                                <a href="#" class="title">تیرخبر  مثال سمپل نمایش پیش نمایش الکی شماره </a>
                                <div class="details">
                                    <img class="img" src="~/Publics/NewsImages/nophoto.png" />
                                    <p class="discribe">توضیحات درباره خبر مختصر مفید خلاصه توضیحات خبر مختصر و مفید خلاصه الکی کشکشی مثال سمپل اکسمپل مثل توضیحات تشریحات مشروح شرح جفنگ تفنگ و.... </p>
                                </div>
                            </div>
                        }
                </div>

                <div class="newsContainer">
                     @for (int i = 0; i < 100; i++)
                        {
                            <div class="news">
                                <a href="#" class="title">تیرخبر  مثال سمپل نمایش پیش نمایش الکی شماره </a>
                                <div class="details">
                                    <img class="img" src="~/Publics/NewsImages/nophoto.png" />
                                    <p class="discribe">توضیحات درباره خبر مختصر مفید خلاصه توضیحات خبر مختصر و مفید خلاصه الکی کشکشی مثال سمپل اکسمپل مثل توضیحات تشریحات مشروح شرح جفنگ تفنگ و.... </p>
                                </div>
                            </div>
                        }
                </div>

            </div>
        </div>

        <div id="news_left" class="newsContainer">
             @for (int i = 0; i < 100; i++)
            {
                <div class="news">
                    <a href="#" class="title">تیرخبر  مثال سمپل نمایش پیش نمایش الکی شماره </a>
                    <div class="details">
                        <img class="img" src="~/Publics/NewsImages/nophoto.png" />
                        <p class="discribe">توضیحات درباره خبر مختصر مفید خلاصه توضیحات خبر مختصر و مفید خلاصه الکی کشکشی مثال سمپل اکسمپل مثل توضیحات تشریحات مشروح شرح جفنگ تفنگ و.... </p>
                    </div>
                </div>
            }
        </div>

    </div>

</div>
