#MainContent {
    display:flex;
    text-justify:space-between;
    align-items:flex-start;
    margin:5px;
}


#usersCommentsSection {
    width:30%;
    background:#d4d4d4;
    padding:5px;
}


#commentContentsContainer {
    flex:1;
    background:white;
    padding:0 5px;
}


.commentsContaniner {
    display:flex; flex-direction:column;
}

    .commentsContaniner .item {
        margin:5px 0;
        border: thin solid #888;  
        
        display:flex; flex-direction:column;  
    }
        .commentsContaniner .item .header {
            display:flex; justify-content:space-between;
            font-size:80%;
            background:#888;
            color:white;
            padding:2px 5px;
        }
        .commentsContaniner .item .body {
            padding:5px;
            display:flex;
            flex-direction:column;
            justify-content:flex-start;
            align-items:stretch;
        }

        .commentsContaniner .item .response {
            border:thin solid #72e800;
            border-right:5px solid #72e800;
            color:#428600;
            padding:5px;
            background:#f4ffe8
        }



        .form {
    display:table;

    width:100%  ;
}
    .form label {
        display: flex;
        flex-direction:column;
        align-items:stretch;
    }

        .form label > * {
            display:block;
            vertical-align:top;
            margin:2px 5px;
        }

        .form label input,
        .form label textarea {
            border:thin solid #eaeaea;
            resize:vertical;
            flex:1;
            padding:3px;
            font-family:yekan;

            font-size:80%;
        }
    .form .error {
        padding:1px 5px;
        margin:1px 5px;
        font-size:80%;
        color:red;
        vertical-align:middle;
    }

.successMessage {
    color: lawngreen;
}


@media (max-width:500px) {
    #MainContent {
        flex-direction:column;
    }
    #usersCommentsSection {
        width:auto;
    }
}