@model CarProject.Areas.Admin.Models.Cars.CarsModel
@using CarProject.App_Code
@{
    ViewBag.Title = "ثبت خودرو";
}



<form method="post">
    
    <div class="inputsContainer">
        
       

    </div>

</form>


@section script
{
    <script>
        function GetBrands() {
            
        }
    </script>
}