@{
    ViewBag.Title = "بازیابی کلمه عبور کاربر";
}

<div class="page">
    <h3>برای بازیابی کلمه عبور خود ایمیل خود را درقسمت زیر وارد نموده و درخواست لینک فعال سازی نمایید</h3>
    <form method="post">
        <div class="inputsContainer">
            <section class="input">
                <label>ایمیل</label>
                <input type="text" placeholder="user@example.com" dir="ltr" />
                <span>@Html.ValidationMessage("email");</span>
            </section>
        </div>
    </form>
</div>