#indexContainer {
    margin:5px;
}

#section0_news_mainslideshow {
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    height:460px;
}

#section0_news {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 10px;
}
    #section0_news #newsContainers {
        background: #fed97e;
        border-radius: 5px;
        overflow: hidden;
    }
    #section0_news #mycarStates {
        margin:5px 0;
        background: #fed97e;
        border-radius:5px;
        overflow:hidden;
    }
        #section0_news #newsContainers #newsContainers_title {
            margin:0 5px;
            color:black;
            font-size:130%;
            border-bottom:thin solid #888;
        }
    #section0_news #section0_news_container {
        display: flex;
        flex-direction: column;
        flex: 1;
        color: black;
    }
        #section0_news #section0_news_container .newsitem {
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            height:120px;
        }
            #section0_news #section0_news_container .newsitem a {
                color: blue;
                padding:0 5px;
            }
            #section0_news #section0_news_container .newsitem .newsitem_info {
                flex:1;
                display:flex;
                justify-content:space-between;
                border-bottom:thin solid #888;
                padding:5px;    
            }
                #section0_news #section0_news_container .newsitem .newsitem_info img {
                    width:70px;
                    height:70px;
                    align-self:center;
                }
                #section0_news #section0_news_container .newsitem .newsitem_info small {
                    padding:5px;
                    flex:1;
                }

#section0_mainslideshow {
    flex:1;
    background:#f4f4f4;
    display:flex;
    flex-direction:column;
    margin-bottom:5px;
}
    #section0_mainslideshow #mainslideshow_bigimage {
        
        width: 100%;
        height: 100%;
        background: url('/Publics/Files/Templates/templates02/Images/loading-1.gif') no-repeat center;
        background-size: auto 50%;
    }
        #section0_mainslideshow #mainslideshow_bigimage.in {
            animation-name: anim_mainslideshow_img_in;
            animation-duration: 0.5s;
        }
        #section0_mainslideshow #mainslideshow_bigimage.out {
            animation-name: anim_mainslideshow_img_out;
            animation-duration: 0.5s;
        }
@keyframes anim_mainslideshow_img_in {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: none;
    }
}
@keyframes anim_mainslideshow_img_out {
    from {
        transform: none;
    }

    to {
        transform: translateY(-100%);
    }
}

    #section0_mainslideshow #mainslideshow_bigimageLink {
        flex: 1;
        overflow:hidden;
    }

    #section0_mainslideshow #mainslideshow_titles {
        display:flex;
        justify-content:space-around;
        color:#000;
        height:50px;
    }
        #section0_mainslideshow #mainslideshow_titles a {
            flex:1;
            display:flex; justify-content:center; align-items:center;
            background:white;
            border:thin solid #f1f1f1;
        }
            #section0_mainslideshow #mainslideshow_titles a.active {
                background: #bababa;
            }
                #section0_mainslideshow #mainslideshow_titles a.active:after {
                    content:'';
                    position:absolute;
                    top:-10px; left:0; right:0; width:1px;
                    border-bottom:10px solid #bababa;
                    border-left:10px solid transparent;
                    border-right:10px solid transparent;
                    margin:auto;
                }





#sloganSection {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background:#384297;
    margin:5px;
    border-radius:5px;
    overflow:hidden;
    color:#fff;
}
    #sloganSection a {
        font-size:80%;  
        flex:1;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #sloganSection a.column {
            flex-direction:column;
        }


#slideshow2Section {
    display:flex;
    justify-content:space-between;
    height:400px;
    margin:10px 0;
    border-radius:5px;
    overflow:hidden;
}
    #slideshow2Section #slideshow2Section_navigation {
        width:25%;
        display:flex;
        flex-direction:column;
    }
        #slideshow2Section #slideshow2Section_navigation a {
            flex:1;
            display:flex;
            justify-content:flex-start;
            padding:5px;
            align-items:center;
            border-bottom:thin solid #d8daef;
            background:#384297;
            color:#fff;
        }
            #slideshow2Section #slideshow2Section_navigation a.active {
                background:#fff;
                color:#384297;
            }
                #slideshow2Section #slideshow2Section_navigation a.active:after {
                    position:absolute;
                    content: '';
                    left:-10px;
                    top: 0;
                    bottom: 0;
                    height: 1px;
                    margin:auto;
                    border-right: 10px solid #fff;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    z-index:999;
                }
            #slideshow2Section #slideshow2Section_navigation a:last-child {
                border-bottom:none;
            }

        #slideshow2Section  #slideshow2Section_target {
            flex:1;
            background:white; 
            overflow:hidden;
        }
            #slideshow2Section #slideshow2Section_target #slideshow2Section_bigView {
                width: 100%;
                height: 100%;
                background: url('/Publics/Files/Templates/templates02/Images/loading-1.gif') no-repeat center;
                background-size: auto 50%;
            }
                #slideshow2Section #slideshow2Section_target #slideshow2Section_bigView.in {
                    animation-name: slideshow2Section_bigView_in;
                    animation-duration:0.5s;
                }
                #slideshow2Section #slideshow2Section_target #slideshow2Section_bigView.out {
                    animation-name: slideshow2Section_bigView_out;
                    animation-duration:0.5s;
                }


@keyframes slideshow2Section_bigView_in {
    from {
        transform:translateX(-100%);
    }
    to {
        transform:none;
    }
}
@keyframes slideshow2Section_bigView_out {
    from {
        transform: none;
    }

    to {
        transform: translateX(-100%);
    }
}





#CarBrandsSection {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:stretch;
}
    #CarBrandsSection .brandItem {
        padding:5px;
        background:#ebebeb;
        border:thin solid #dedede;
        border-radius:5px;
        overflow:hidden;

        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin:10px;

        cursor:pointer;

        width:170px;
        height:170px;

    }
        #CarBrandsSection .brandItem:hover {
            box-shadow:0 0 5px 0 rgba(0,0,0,0.7);
        }

        #CarBrandsSection .brandItem img {
            max-width:100%;
            max-height:100px;
        }
        #CarBrandsSection .brandItem span {
            background:#fff;
            color:#323232;
            border:thin solid #c5c5c5;
            padding:3px;
            margin-top:10px;
        }


.slideterItemShowContianer {
    display:flex;
    flex-direction:column;
    background:#fed97e;
    overflow:hidden;

    margin-bottom:10px;
}
    .slideterItemShowContianer .title {
        padding:5px;
        color:black;
    }

    .slideterItemShowContianer .itemsContainerBack {
        min-width:100%;
        height:170px;
    }
    .slideterItemShowContianer .itemsContainer {
        position:absolute;
        top:0; right:0;
        display:flex;
        justify-content:center;
    }
        .slideterItemShowContianer .itemsContainer .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            margin: 5px;
            overflow: hidden;
            border-radius: 5px;
        }
            .slideterItemShowContianer .itemsContainer .item:hover {
                box-shadow: 0 0 5px 0 #00f;
            }
            .slideterItemShowContianer .itemsContainer .item img {
                width: 100%;
                height: 100%;
            }
            .slideterItemShowContianer .itemsContainer .item span {
                position: absolute;
                top: -100%;
                left: 0;
                right: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,255,0.6);
                transition: 0.5s;
                text-align: center;
            }
            .slideterItemShowContianer .itemsContainer .item:hover span {
                top: 0;
            }
    .slideterItemShowContianer .leftmove,
    .slideterItemShowContianer .rightmove {
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);

        display:flex;
        justify-content:center;
        align-items:center; 
        padding:5px;

        opacity:0.1;
        transition:0.5s;

        cursor:pointer;
    }
    .slideterItemShowContianer:hover .leftmove,
    .slideterItemShowContianer:hover .rightmove {
        opacity:1;
    }
    .slideterItemShowContianer .leftmove {
        left:0;
    }
    .slideterItemShowContianer .rightmove {
        right:0;
    }
