@using CarProject.App_Code
@{
    ViewBag.Title = "ویرایش اطلاعات کشورها";

    var dbs = new CarProject.DBSEF.CarAutomationEntities();
}
@model CarProject.Areas.Admin.Models.Dashboard.CountryModel

<div>
    <form method="post">
        <div class="inputsContainer">
            @Html.HiddenFor(m => m.Country.CountryId)
            @Html.input_TextBox(m => m.Country.CountryShortName, "حروف اختصاری")
            @Html.input_TextBox(m => m.Country.CountryLongName, "نام کامل کشور")
        </div>

        <div class="inputAction">
            <input type="submit" value="بروز رسانی کشور" class="button green" />
        </div>
    </form>
</div>