@{
    ViewBag.Title = "مدیریت وبسایت";
}


<h3>مدیریت خودرو ها</h3>
<div class="menuContainer">
    <a href="#" class="menuItem">
        <section class="icon gia-brands"></section>
        <section class="info">برندها</section>
    </a>
    <a href="#" class="menuItem">
        <section class="icon gia-newCar"></section>
        <section class="info">برندها</section>
    </a>
    <a href="#" class="menuItem">
        <section class="icon gia-cars"></section>
        <section class="info">برندها</section>
    </a>
</div>

<h3>اخبار و محتوا</h3>
<div class="menuContainer">
    <a href="#" class="menuItem">
        <section class="icon gia-category"></section>
        <section class="info">گروه ها</section>
    </a>
    <a href="#" class="menuItem">
        <section class="icon gia-newsAdd"></section>
        <section class="info">ثبت خبر</section>
    </a>
    <a href="#" class="menuItem">
        <section class="icon gia-news"></section>
        <section class="info">اخبار</section>
    </a>
</div>

<h3>مدیریت کاربران</h3>
<div class="menuContainer">
    <a href="#" class="menuItem">
        <section class="icon gia-user"></section>
        <section class="info">ثبت کاربر جدید</section>
    </a>
    <a href="#" class="menuItem">
        <section class="icon gia-users"></section>
        <section class="info">کاربران</section>
    </a>
    <a href="#" class="menuItem">
        <section class="icon gia-waitedUser"></section>
        <section class="info">کاربران جدید</section>
    </a>
</div>


@*<div class="menuContainer">
    <a href="#" class="menuItem">
        <section class="icon gia-car1"></section>
        <section class="info">ثبت خودرو</section>
    </a>

    <a href="#" class="menuItem">
        <section class="icon gia-user"></section>
        <section class="info">ثبت کاربر جدید</section>
    </a>

    <a href="#" class="menuItem">
        <section class="icon gia-sparePart"></section>
        <section class="info">ثبت محصول</section>
    </a>

    <a href="#" class="menuItem">
        <section class="icon gia-information"></section>
        <section class="info">درباره ما</section>
    </a>

    <a href="#" class="menuItem">
        <section class="icon gia-contactUs"></section>
        <section class="info">تماس با ما</section>
    </a>

    <a href="#" class="menuItem">
        <section class="icon gia-message"></section>
        <section class="info">پیامها</section>
    </a>
</div>*@



@section style
{
    <style>
        .menuContainer {
            text-align: center;
        }

        .menuItem {
            display: inline-block;
            width: 120px;
            height: 120px;
            margin: 5px;
            border: thin solid #888;
            border-radius: 5px;
            font-family: f1;
            overflow: hidden;
        }

            .menuItem > * {
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: ease-in-out 0.5s;
            }

            .menuItem .icon {
                font-size: 400%;
                top: 0;
            }

            .menuItem:hover .icon {
                top: -100%;
            }

            .menuItem .info {
                background: #888;
                color: #fff;
                top: 100%;
            }

            .menuItem:hover .info {
                top: 0;
            }
    </style>
}