*{position:relative; padding:0; margin:0; box-sizing:border-box;}

a
{
	color:inherit;
	text-decoration:none;
    cursor:pointer;
}

hr {
    background:#363895;
    color:#363895;
    box-shadow:none;
    border:1px solid;
}

ul {
    padding-right:10px;
}
li {
    margin-right:10px;
}

body
{
	direction:rtl;
	font-family:yekan;
	
	background:#9ca7ff;
	
}
#websiteContent {
    min-width:1000px;
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:column;
	
	min-height:100vh;
}

#headers
{
	background:#606de0;
}

#header0
{
	display:flex;
	justify-content:space-between;
	align-items:stretch;
	
}

#header1
{
	flex:1;
	display:flex;
	justify-content:space-between;
	align-items:stretch;
    color:#fff;
}
	#WebsiteBigTitle
	{
		padding:5px;
		display:flex; justify-content:center; align-items:center;
	}
	
	#header1_userprofilenav_search
	{
		display:flex;
		flex:1;
		justify-content:center;
		align-items:stretch;
		flex-direction:column;
	}
		#Website_profile_navigation
		{
			display:flex;
			justify-content:flex-start;
			align-items:center;
			font-size:80%;
			margin-bottom:5px;
		}
			#Website_profile_navigation a
			{
				margin:0 15px;
			}
		#Website_search_section
		{
			display:flex;
			justify-content:flex-start;
			align-items:stretch;
		}
			#Website_search_section a{
				margin:0 5px;
			}
			#Webiste_Search_Control
			{
				display:flex;
				justify-content:space-between;
				align-items:stretch;
				margin:0 1px;
				background:#fff;
				overflow:hidden;
				border-radius:5px;
				flex:1;
			}
				#Webiste_Search_Control input
				{
					flex:1;
					border:none;
					background:none;
					padding:5px;
				}
				
				#Webiste_Search_Control button
				{
					background:none;
					border:none;
				}
	#WebsiteBigLogo
	{
		width:140px;
		display:flex; justify-content:center; align-items:center;
	}
		#WebsiteBigLogo img
		{
			width:100px;
			margin:5px;
		}
		
#header2
{
	display:flex;
	justify-content:center;
	align-items:stretch;
	
	border-bottom:thick solid #fff;
	font-size:120%;
    color:#fff;
}
	#header2 .splitter
	{
		width:1px;
		height:30px;
		background:white;		
		border-radius:50%;	
		align-self:center;	
	}
        #header2 .splitter:nth-last-child(1) {
            display:none;
        }
	#header2 a
	{ 
		flex:1;
		text-align:center;
		padding:5px;
		white-space:nowrap;
	}
		#header2 a:hover,
        #header2 a.active
		{
			/*background:#edbc43;*/
			background:#fff;
			color:#606de0;
			
		}
		
		
#footers
{
	background:#384297;
	margin-top:auto;
	
	display:flex;
	justify-content:flex-start;
	align-items:stretch;
	flex-direction:column;
}
	#footer1
	{
		background:#f2bc36;
		color:#384297;
		display:flex; justify-content:space-between;
		padding:0 5px;
	}
	
	#footer2
	{
		display:flex;
		justify-content:space-between;
		align-items:stretch;
		padding:5px;
        color:#fff;
	}
	#footer2 > *
	{
		margin:5px;
	}
	
		#footer2_navigation
		{
			display:flex;
			flex-direction:column;
		}
		
		#footer2_describe
		{
			max-width:25%;
			font-size:80%;
			text-align:justify;
		}
		
		#footer2_enemad
		{
		}
			#footer2_enemad_logo
			{
				width:150px;
			}
		
		#footer2_newslatter
		{
			font-size:80%;
			display:flex;
			flex-direction:column;
			height:100%;
		}
			#newslaterForm
			{
				display:flex;
				justify-content:space-between;
				align-items:stretch;
			}
				#newslaterForm input[type=text]
				{
					flex:1;
					border:none;
					padding:2px 5px;
					border-radius:5px;
				}
			#footer2_newslatter_SocialNetworks
			{
				display:flex; justify-content:flex-start;
				align-items:center;
				margin-top:auto;
			}
				#SocialsIcons 
				{
					margin:0 5px;
				}
					#SocialsIcons img
					{
						height:25px;
						margin:0 2.5px;
					}
		
	#footerArghanoonteam
	{
		background:#000;
		color:#fff;
		text-align:center;
		font-size:70%;
		font-family:'Courier New';
	}






 /*-----------------------------------------------------*/
#bodyContainer {
    padding:5px;
}




/*--------------------------------------------------------*/
.newslatererror {
    margin:5px 0;
    padding:5px;
    border-radius:5px;
    border:thin solid #000;
    background:rgba(0,0,0,0.6);
    color:red;
}
.newslatersuccess {
    margin:5px 0;
    padding:5px;
    border-radius:5px;
    border:thin solid #000;
    background:rgba(0,0,0,0.6);
    color:lawngreen;
}