#TopHeader {
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    background:white;
    margin-bottom:5px;
    padding:5px;
}

#rightBar {
    position:absolute;
    top:0;  right:-100%;
    min-height:100%;
    z-index:99999;
    box-shadow:0 0 2px 0 #888;
    transition:0.5s;
    background:#eee;
}
    #rightBar.show {
        right:0;
    }

