<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title | خودرو کلینیک</title>

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />
    <link href="~/Publics/Styles/animate.css" rel="stylesheet" />
    <link href="~/Areas/Users/resources/Styles/Default/Default.css" rel="stylesheet" />


    @RenderSection("head", false)
</head>
<body>
    <header>
        <div id="header_section1">
            <a href="#">خودرو کلینیک</a>

            <nav>
                <a href="/" class="gia-home">صفحه اصلی</a>
                <a href="/Store" class="gia-cart">فروشگاه</a>
                <a href="/Users/profile" class="gia-user">پروفایل</a>
                <a href="#">لینک شماره 4</a>
            </nav>

            <a href="javascript:void()" onclick="document.getElementById('logoutform').submit()" class="gia-logout"></a>

            
        </div>        
    </header>

    <form method="post" id="logoutform" action="@Url.Action("LogoutRequest", "profile", new { area = "Users" })" ></form>

    <div id="renderBodySection">
        @RenderBody()
    </div>

    <footer>
        footer
    </footer>
</body>
</html>
