@{
    Layout = null;
}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >

<title>کلینیک خودرو - @ViewBag.Title</title>

    <link href="~/Publics/Styles/fonts/Fonts.css" rel="stylesheet" />
    <link href="~/Publics/Styles/fonts/GIAdmin.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Files/StyleAndScripts/UsersDefault/Default.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Files/StyleAndScripts/Default/input1.css" rel="stylesheet" />

    <script src="~/Publics/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Publics/Scripts/tinymce/tinymce.min.js"></script>

    

    @RenderSection("style",false)
</head>

<body>

	<header id="header1">
        <div id="header1_section1">
            <a href="#" class="gia-setting"></a>
            <section>نام و نام خانوادگی کاربر</section>
        </div>

        <div id="header1_section2"></div>

        <div id="header1_section3">
            <a href="#" class="gia-logout"></a>
        </div>
	</header>

    <div id="body">

        <div id="renderBody">
            @RenderBody()
        </div>

    </div>

    <footer id="footer1">

    </footer>
</body>

<script src="~/Areas/Admin/Files/StyleAndScripts/Default/d00.js"></script>
<script>
    cn = document.getElementById('container');
    hw = (document.getElementsByTagName('header')[0].clientHeight + 1);
    cn.style.marginTop = hw + "px";
    cn.style.minHeight = (window.innerHeight - hw) + "px";

    function TogleClassShow(el, clname) {
        if (el.classList.contains(clname))
            el.classList.remove(clname);
        else
            el.classList.add(clname);
    }
</script>

    @RenderSection("script", false)
</html>
