@font-face
{
	font-family:f1;
	src:url(fnt1.ttf);
}

@font-face
{
	font-family:f2;
	src:url(fnt2.ttf);
}

@font-face
{
	font-family:f3;
	src:url(fnt3.ttf);
}

@font-face
{
	font-family:t1;
	src:url(t1.ttf);
}




@font-face
{
	font-family:gia;
	src:url(GIAdmin.woff);
}


[data-font=f1]{font-family:f1;}
[data-font=f2]{font-family:f2;}
[data-font=f3]{font-family:f3;}
[data-font=t1]{font-family:t1;}
