@font-face
{
	font-family:giadmin;
	src:url(GIAdmin.woff);
}

[class*=gia-]:before
{
	font-family:giadmin;
	display:inline-block;
	margin:0 3px;
	direction:ltr;
}


.gia-logout:before{content:'\0021';}
.gia-newUser:before{content:'\0022';}
.gia-message:before{content:'\0023';}
.gia-chat:before{content:'\0024';}
.gia-menuIcon:before{content:'\0025';}
.gia-user:before{content:'\0026';}
.gia-setting:before{content:'\0027';}
.gia-statistic:before{content:'\0028';}
.gia-help:before{content:'\0029';}
.gia-key:before{content:'\002A';}
.gia-recovery:before{content:'\002B';}
.gia-login:before{content:'\002C';}
.gia-link:before{content:'\002D';}
.gia-cart:before{content:'\002E';}
.gia-contactUs:before{content:'\002F';}
.gia-images:before{content:'\0030';}
.gia-videos:before{content:'\0031';}
.gia-information:before{content:'\0032';}
.gia-add:before{content:'\0033';}
.gia-list:before{content:'\0034';}
.gia-close:before{content:'\0035';}
.gia-remove:before{content:'\0036';}
.gia-edit:before{content:'\0037';}
.gia-users:before{content:'\0038';}
.gia-inactive:before{content:'\0039';}
.gia-back:before{content:'\0040';}
.gia-active:before{content:'\003A';}
.gia-checkEngine:before{content:'\003B';}
.gia-search:before{content:'\003C';}
.gia-car1:before{content:'\003D';}
.gia-car2:before{content:'\003E';}
.gia-sparePart:before{content:'\003F';}
.gia-right:before{content:'\0046';}
.gia-left:before{content:'\0047';}
.gia-down:before{content:'\0048';}
.gia-up:before{content:'\0049';}
.gia-front:before{content:'\004A';}
.gia-checkEngine2:before{content:'\004B';}
.gia-usercar:before{content:'\004C';}
.gia-directory:before{content:'\004D';}
.gia-upload:before{content:'\004E';}
.gia-newdir:before{content:'\004F';}
.gia-play:before{content:'\0050';}
.gia-pause:before{content:'\0051';}
.gia-stop:before{content:'\0052';}
.gia-bw:before{content:'\0053';}
.gia-fw:before{content:'\0054';}
.gia-pp:before{content:'\0055';}
.gia-pn:before{content:'\0056';}
.gia-unchecked:before{content:'\0057';}
.gia-checked:before{content:'\0058';}
.gia-waitedUser:before{content:'\0059';}
.gia-score:before{content:'\005A';}
.gia-radioBUC:before{content:'\005B';}
.gia-radioBCH:before{content:'\005C';}
.gia-listView:before{content:'\005D';}
.gia-gridView:before{content:'\005E';}
.gia-news:before{content:'\005F';}
.gia-brands:before{content:'\0060';}
.gia-newCar:before{content:'\0061';}
.gia-cars:before{content:'\0062';}
.gia-rename:before{content:'\0063';}
.gia-refresh:before{content:'\0064';}
.gia-home:before{content:'\0065';}
.gia-newsAdd:before{content:'\0066';}
.gia-category:before{content:'\0067';}
.gia-openFile:before{content:'\0068';}
.gia-slides:before{content:'\006A';}
.gia-newSlide:before{content:'\0069';}
.gia-product:before{content:'\006B';}
.gia-country:before{content:'\006C';}
.gia-companies:before{content:'\006D';}
.gia-distribution:before{content:'\006E';}
.gia-select:before{content:'\006F';}
.gia-products:before{content:'\0070';}
.gia-article:before{content:'\0071';}
.gia-service:before{content:'\0072';}
.gia-userInfo:before{content:'\0073';}
.gia-heart:before{content:'\0074';}
.gia-burse:before{content:'\0075';}
.gia-retrive:before{content:'\0076';}
.gia-visitors:before{content:'\0077';}
.gia-messageSeen:before{content:'\0078';}
.gia-brokenHeart:before{content:'\0079';}
.gia-details:before{content:'\007A';}
.gia-rss:before{content:'\007B';}




.gia-arghanoon:before{content:'\09FF';}
.gia-arghanoon2:before{content:'\09FE';}
