#baseContainer {
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-direction:row-reverse;
}

#mainContainer {
    flex:1;
}
#sortSection{
    display:flex;
    justify-content:space-between;
    padding:5px;

    border-bottom:thin solid #888;
    margin-bottom:10px;
}

#sortandsearchContainer {
    padding:5px;
}
#searchSection {
    
}
#searchControl {
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    overflow:hidden;
    width:50%;
}
    #searchSection input {
        flex:1;
        width:100%;
        padding-left:40px;
    }
    #searchSection button {
        position:absolute;
        width:35px;
        left:0; top:0; bottom:0;
        /*background:#eaeaea;
        border:thin solid #888;*/
        background:none; border:none;
        height:100%;
    }
        #searchSection button:hover {
            /*background:#dadada;*/
        }
        #searchSection button:active {
            box-shadow:0 0 3px 0 #888 inset;
        }

.itemsView {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
}
    .itemsView.grid {
        flex-direction:row;
        justify-content:center;
        flex-wrap:wrap;
    }

.items {
    display:flex;
    text-justify:space-between;
    align-items:stretch;
    
    margin:5px;
    border:thin solid #888;
}
    .items:hover {
        box-shadow:0 0 2px 0 #888;
    }

.itemsView.grid .items {
    flex-direction:column;
    width:25vw;
}
    .items .img {
        border-left:thin solid #888;
        padding:5px;
        display:flex; justify-content:center; align-items:center;
    }
.itemsView.grid .items .img {
    border:none;
    border-bottom:thin solid #888;
}
    .items img {
        width:170px;
        height:100px;
    }
    .items table {
        flex:1;
        padding: 5px;
    }
.itemsView.grid .items table {
    display:flex; justify-content:center; align-items:center;
    flex-direction:column;
    text-align:center;
}
        .items table th {
            text-align:right;
        }

        .itemsView.grid .items table td,
        .itemsView.grid .items table th {
            display:none;
        }

            .itemsView.grid .items table td.grid {
                display:block;
            }


#rightContainer {
}
