img {
    max-height:100%;
    max-width:100%;
}
#top_LocationNavigation_likedislikecount {
    background: #6674ee;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius:5px;
    overflow:hidden;

    margin-bottom:10px;
}
#top_LocationNavigation {
    padding:5px;
    color:#fff;
    display:flex; justify-content:center; align-items:center;
    font-size:130%;
}
    #top_LocationNavigation .gia-left {
        font-size:60%;
    }

#top_likedisklikecount {
    background:#fed97e;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:-5px;
    margin-right:5px;
    padding:5px;
}
    #top_likedisklikecount > * {
        margin:0 10px;
    }



#CarImagesAndDetailsShowSection {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height:500px;
}

    #CarImagesAndDetailsShowSection > div {
        /*flex:1;*/
        margin:5px;
    }
    #CarImagesAndDetailsShowSection > #carImages {
        background:#bec5fc;

        display:flex;
        flex-direction:column;
    }
        #CarImagesAndDetailsShowSection > #carImages > #carImages_Bigview_Container {
           flex: 1;
            margin: 5px;
            overflow: hidden;
            display:flex; justify-content:center; align-items:center;
        }
            #CarImagesAndDetailsShowSection > #carImages > #carImages_Bigview_Container > img {
                max-width: 100%;
                max-height: 100%;
                background: url('/Publics/Files/Templates/templates02/Images/loading-1.gif') no-repeat center;
                background-size: 50% auto;
            }


        #CarImagesAndDetailsShowSection > #carImages > #carImages_ImageThumbnails {
            display:flex;
            justify-content: space-between;
            align-items:center;
        }
            #CarImagesAndDetailsShowSection > #carImages > #carImages_ImageThumbnails > #carImages_ImageThumbnailscontainer {
                flex:1;
                background:none;
            }




    #CarImagesAndDetailsShowSection > #CarDetials {
        display: flex;
        flex-direction: column;
        font-size: 120%;
    }
        #CarImagesAndDetailsShowSection > #CarDetials > div {
            border-radius:5px;
            margin-bottom:5px;
            padding:5px;
        }

            #CarImagesAndDetailsShowSection > #CarDetials > div:last-child {
                margin-bottom:0;
            }

        #CarImagesAndDetailsShowSection > #CarDetials > #CarDetails_NameAndYear {
            font-size:150%;
            font-weight:bold;
            display:flex;
            justify-content:space-between;
            align-items:center;
        }

        #CarImagesAndDetailsShowSection > #CarDetials > #CarDetails_usercar_Troubleshooting {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
            #CarImagesAndDetailsShowSection > #CarDetials > #CarDetails_usercar_Troubleshooting > * {
                flex:1;
                margin:0 5px;
                border-radius: 5px;
                padding:5px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align:center;
            }



#SameClassCars {
    margin:10px 5px;
}

    #SameClassCars > #CarDetails_SameClassCars {
        background: #bec5fc;
    }


#CarDifention {
    margin:5px;
    margin-bottom:10px;
    padding:5px;
}
    #CarDifention p {
        text-align:justify;
    }


#CarDetailsInformation {
    display:flex;
    justify-content:space-around;
}
    #CarDetailsInformation > div {
        width:45%;
        margin:5px;

        display:flex;
        flex-direction:column;
    }

        #CarDetailsInformation > div > div {
            margin:5px;
        }

            #CarDetailsInformation > div > div > h3 {
                cursor:pointer;
            }
                #CarDetailsInformation > div > div > h3:after {
                    font-family: giadmin;
                    content: '\0048';
                    margin-right: 5px;
                    font-size: 80%;
                }
            #CarDetailsInformation > div > div.hide > h3:after {
                content: '\0047';
            }

    #CarDetailsInformation table {
        width:100%;
        background:#384297;
        border:5px solid #384297;
    }
        #CarDetailsInformation table th,
        #CarDetailsInformation table td {
            padding:5px;
        }
        #CarDetailsInformation table th {
            background:#bec5fc;
            text-align:right;
            width:30%;
        }
        #CarDetailsInformation table td {
            background:#f2bc36;
            text-align:center;
        }

    #CarDetailsInformation > div > div.hide table {
        display:none;
    }


#CarReviewSection {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
#CarReviewSection > *{
    background:#fed97e;
    padding:10px;
}

#usersCommentsSection {
    display:flex;
    flex-direction:column;
    margin-top:10px;
}
    #usersCommentsSection > * {
        background:#bec5fc;
        padding:10px;
    }
    #usersCommentsSection #replayComment {
        display:none;
    }
        #usersCommentsSection #replayComment.show {
            display: table-row;
        }
    #usersCommentsSection #usernameCommentReply {
        background:none;
        border:none;
    }



#UsersOldComments {
    
    display:flex;
    flex-direction:column;
    margin-top:10px;
}

    #UsersOldComments .cmntmessage {
        
        margin:5px;
        padding:10px;
        display:flex;
        flex-direction:column;
    }
     #UsersOldComments .cmntmessage .cmntmessage {
        
        margin:0 10px;
        padding:0;
        display:flex;
        flex-direction:column;
    }
        #UsersOldComments .cmntmessage .messageContent {

        }
    #UsersOldComments > .cmntmessage {
        background:#bec5fc;
    }
    #UsersOldComments .cmntmessage .messageContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

        #UsersOldComments .cmntmessage .messageContent .username {
            margin-left: 10px;
        }
        #UsersOldComments .cmntmessage .messageContent .commentsection {
            background: #fff;
            flex: 1;
            border-radius: 5px;
            margin: 5px;
            margin-right:15px;
            display: flex;
            flex-direction: column;
        }
        #UsersOldComments  .cmntmessage .cmntmessage  .messageContent .commentsection {
            background:#f3f3f3;
        }
            #UsersOldComments .cmntmessage .messageContent .commentsection:before {
                content: '';
                position: absolute;
                top: 0px;
                right: -16px;
                height: 1px;
                border-left: 20px solid #fff;
                border-top: 0px solid transparent;
                border-bottom: 20px solid transparent;
            }
    #UsersOldComments .cmntmessage .cmntmessage .messageContent .commentsection:before {
        border-left: 20px solid #f3f3f3;
    }
            #UsersOldComments .cmntmessage .messageContent .commentsection .comment {
                padding: 5px;
            }

            #UsersOldComments .cmntmessage .messageContent .commentsection .commentActionAndInfo {
                display: flex;
                justify-content: space-between;
                font-size: 80%;
                padding: 5px;
            }
                #UsersOldComments .cmntmessage .messageContent .commentsection .commentActionAndInfo .commentInfo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                #UsersOldComments .cmntmessage .messageContent .commentsection .commentActionAndInfo .commentAction {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

.orangeback {
    background: #fed97e;
}


.checked_True:before {
    font-family:giadmin;
	src:url(GIAdmin.woff);
    content: '\098D';
    font-size:200%;
    color:#42c53b;
}

.checked_False:before {
    font-family:giadmin;
	src:url(GIAdmin.woff);
    content: '\0991';
    font-size:200%;
    color:#f12121;
}