@{
    ViewBag.Title = "سرویس ها";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();
}

<div>
    @foreach (var item in dbs.AutoServices)
    {
        <div>@item.AutoServiceName</div>
    }
</div>