@{
    ViewBag.Title = "سرویس پک ها";
    var dbs = new CarProject.DBSEF.CarAutomationEntities();
}


<div style="border-bottom:thin solid #888; margin-bottom:10px;">
    
</div>

<div class="itemContainer">
    @foreach (var item in dbs.AutoServicePacks)
    {
        <div class="item">
            <section class="title">سرویس پک</section>
            <section class="table">
                <table>
                    <tr>
                        <th>نام</th>
                        <td>@item.AutoServicePackName</td>
                    </tr>
                    <tr>
                        <th>قیمت</th>
                        <td>@item.PackPrice</td>
                    </tr>
                </table>
            </section>
            <section class="action">
                <a href="@Url.Action("ServicePacks_Update", "Store", new { id = item.AutoServicePackId })" class="gia-edit"></a>
                <a href="@Url.Action("ServicePacks_Gallery", "Store", new { id = item.AutoServicePackId })" class="gia-images"></a>
            </section>
        </div>
    }
</div>