#SearchResultContainer {
    display: flex;
    flex-direction: column;
}

    #SearchResultContainer .item {
        background: rgba(255,255,255,0.8);
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        display: flex;
        align-items: stretch;
    }

        #SearchResultContainer .item a {
            color: blue;
        }

        #SearchResultContainer .item .image {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            #SearchResultContainer .item .image img {
                width: 200px;
                height: 150px;
            }

        #SearchResultContainer .item .info {
            margin-right: 10px;
        }



.pagination {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

    .pagination > * {
        margin: 2px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: yekan;
        font-size: 100%;
        border-radius: 3px;
    }

    .pagination > span {
        border: thin solid #888;
        background: #d4d4d4;
    }

    .pagination > a {
        border: thin solid #888;
        background: #fff;
    }
