*{ position:relative; padding:0; margin:0; box-sizing:border-box; }

body
{
	direction:rtl;
	font-family:f3;
	
	display:flex;
	flex-direction:column;
	align-items:stretch;
	
	min-height:100vh;
}

.page {
    min-height: 100vh;
    padding:5px;
}

.page2 {
    padding:15px 5px;
}

	/*body > *:not(#header) { padding:5px;}*/
	
	#webheader{ position:fixed; top:-500px; }


	
	#header
	{
		display:flex;
		justify-content: space-between;
		align-items: stretch;
		border-bottom:thin solid #888;
	}
		#webicon{ height:50px; margin:5px; }
		#header_navigation
		{
			flex:1;
			display:flex; justify-content:center; align-items:stretch;
		}
			#header_navigation a,
			#header_navigation > *
			{
				text-decoration: none;
				color:inherit;
				
				font-family:f2;
				font-size:90%;
				
				padding:5px;
				
				min-width:90px;
				
				display:flex; justify-content:center; align-items:center;
				text-align:center;
			}
				#header_navigation a:hover,
				#header_navigation a.active,
				#header_navigation > *:hover,
				#header_navigation > *:active
				{
					background:#888;
				}
				#header_navigation > * > nav
				{
					background:white;
					position:absolute;
					left:0;  top:100%;
					white-space:nowrap;
					
					box-shadow:0 2px 2px 0 #888;
					border:thin solid #888;
					
					display:none;
					z-index:999;
				}
					#header_navigation > *:hover > nav
					{
						display:flex;
						flex-direction:column;
					}

            #header_navigation *[class*=gia-]:before {
                
            }
		
		#header_ShortNavs
		{
			display:flex; justify-content:center; align-items:center;
		}
			#header_ShortNavs a
			{
				text-decoration: none;
				color:inherit;
			}
				#header_ShortNavs a:hover
				{
					text-shadow:0 0 1px #888;
				}
			
				#HeaderNavigationMenuIcon { display:none; }
				
/*--------------------------SearchForm------------------------*/

#searchSection{
	position:absolute;
	left:100%; top:0;
	border:2px solid #888;
	border-radius:5px;
	overflow:hidden;
	background:white;
	box-shadow:0 0 3px 0 #888;
	animation-name:searchSection;
	animation-duration: 0.3s;
	font-family:mitra;
	z-index:999;
	
	display:none;
}
#searchSection.show{ display:block;}

@keyframes searchSection
{
	from{opacity:0; left:0;}
	to{opacity:1; left:100%;}
}
#searchForm{
	display:flex;
	flex-direction:row-reverse;
}
	#searchForm input[type=text]
	{
		border:none; background:none;
	}
	#searchForm Button
	{
		border:none;
		background:#eaeaea;
	}
		#searchForm Button:hover
		{
			color:white;
		}
			#searchForm Button:active
			{
				box-shadow:0 0 3px 0 #000000 inset;
			}

/*--------------------------SlideShower-----------------------*/
#SlideShowerBack
{
	overflow:hidden;
	background:rgba(0,0,0,0.10);
}

#SlideShower
{
	position:relative;
	width:100%;
	height:30vw;
	margin:0; padding:0;
	
	display:flex ; justify-content:center; align-items:stretch;
}
	#SlideShower .slides
	{
		left:0; right:0; top:0; bottom:0;
		margin:auto;
		height:100%;
		
		overflow:hidden;
		display:none;
	}	
		#SlideShower .slides.show { display:inline-block;}
	
		#SlideShower .slides img
		{			
			height:100%;
			
			animation:SliderImags;
			animation-timing-function:ease-in-out;
			animation-duration:0.5s;
		}
		@keyframes SliderImags
		{
			0%{transform:scale(0,0); }
			70%{ transform:scale(1.2,1.2); }
			100%{ transform:scale(1,1); }
		}
		
		#SlideShower .slides .title
		{
			position:absolute;
			top:0;
			padding:5px;
			background:rgba(255,255,255,0.70);
			width:100%;
			
			animation:SliderTitle;
			animation-duration:0.4s;
			
		}
		@keyframes SliderTitle
		{
			from{ top:-100%; } to{top:0; }
		}
		#SlideShower .slides .describe
		{
			position:absolute;
			bottom:0;
			padding:5px;
			background:rgba(255,255,255,0.70);
			width:100%;
			
			animation:SliderDescribe;
			animation-duration:0.4s;
		}
		@keyframes SliderDescribe
		{
			from{ bottom:-100%; } to{bottom:0; }
		}
		
	#SlideShower .slideMover
	{
		position:absolute;
		background:rgba(255,255,255,0.80);
		width:30px; height:30px;
		border:thin solid transparent;
		display:flex; justify-content:center; align-items:center;
		border-radius:50%;
		text-align:center;
		cursor:pointer;
		opacity:0.1;
		font-size:100%;
		top:50%; margin-top:-15px;
		
		transition: ease-in-out 0.1s;
	}
		#SlideShower .slideMover:hover
		{
			width:50px; height:50px; margin-top:-25px;
			font-size:170%;
			background:black;
			color:white;
			border: thin solid;
			box-shadow:0 0 3px 0 #000000;
			opacity:1;
		}
		#SlideShower .slideMover:active
		{
			width:40px; height:40px; margin-top:-20px;
			font-size:150%;
			background:black;
			color:white;
			border: thin solid;
			box-shadow:0 0 3px 0 #000000;
			opacity:1;
		}
		
		#SlideShower #forwardButton
		{
			right:3px;
		}
		#SlideShower #backwardButton
		{
			left:3px;
		}
		
		#slidesPreview
		{
			/*border-top:thin solid #888;*/
			display:flex; justify-content:center; align-items:center;
		}
			#slidesPreview img
			{
				height:50px; width:50px;
				border-radius:50%;
				border:thin solid #888;
				box-shadow: 0 0 2px 0 #888;
				margin:5px;
				
				transition:ease-in-out 0.2s;
				cursor:pointer;
				transform:rotate(10deg);
				
				opacity:0.4;
			}
				#slidesPreview img:hover,
				#slidesPreview img.active
				{
					box-shadow:0 0 4px 1px #444;
					border:thin solid black;
					border-radius:10px;
					transform:none;
					
					opacity:1;
				}
	#slideShowController
	{
		position:absolute;
		top:0; left:0; right:0;
		
		background:rgba(0,0,0,0.40);
		color:white;
		text-shadow:0 0 1px #000000;
		cursor:pointer;
		
		display:flex; justify-content:center; align-content:center;
		padding:5px;
		
		display:none;
	}
	
@media (orientation:portrait), (max-width:700px)
{
	#SlideShower
	{
		height:50vh;
		max-width:100%;
	}
}
/*--------------------------FOOTER----------------------------*/
	#footer
	{
		margin-top:auto;
		position:relative;
		
		background:rgba(0,0,0,0.43);
		color:white;
		text-shadow:0 0 1px #444;
		
		display:flex;
		justify-content:space-between;
		align-items:stretch;
		flex-wrap:wrap;
	}
		#footer .items
		{
			width:30%;
			padding:5px;
			border-radius:5px;
			margin:5px;
		}
		
		#footer hr
		{
			align-self:stretch;
			border:thin solid #333;
			background:none;
			border-radius:50%;
			box-shadow:0 0 3px 0 #333;
		}
	
	#footer2
	{
		background:black;
		color:white;
		font-family:f1;
		font-size:80%;
		
		display:flex; justify-content:space-between; align-items:center;
	}


@media (max-width:700px)
{
	#HeaderNavigationMenuIcon { display:inherit; }
	#header_navigation
	{
		position:absolute;
		top:100%; left:0;
		flex-direction:column;
		border:thin solid #888;
		box-shadow: 0 2px 2px 0 #888;
		
		display:none;
		background:white;
		z-index:999;
	}
		#header_navigation.show { display:flex; }
		
		#header_navigation > * > nav
		{
			top:0; left:100%;
		}
			#header_navigation a,
			#header_navigation > *
			{
				flex-direction:reverse;
			}


		#footer
		{
			flex-direction:column;align-items:stretch;
		}
			#footer .items { width:auto; }
		
		#footer2
		{
			flex-direction:column;
			justify-content:center;
		}
			#footer2 * { text-align:center; }
}